
	<!--<footer>
		<p>
			<a href="http://m.zdm.yixun.com">易选主页</a>
            <a href="{$frontdomain}/index/{$master_results.id}">微站首页</a>
			<a href="{$frontdomain}/masterinfo/masterinfor/{$master_results.id}">个人中心</a>
		</p>
		<p>由<font class="font_footer">易迅易选</font>提供技术服务</p>
	</footer> -->
	<script type="text/javascript" src="http://st.icson.com/weizhan/mobile/js/wzshb.js"></script>
	<script type="text/javascript" src="http://st.icson.com/weizhan/mobile/js/weizhan_base.js"></script>