<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<link rel="stylesheet" type="text/css" href="style/global.css">
</head>
<body>
<div class="article">
    <div class="inner">
        <a href="" class="a_title">文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题</a>
        <a href=""><img class="pic" src="img/a_9.jpg"></a>
        <p class="desc">
        伪上帝视角的假客观评测，远不如真自我体验的主观分享来的精彩。因为这个世界很难有真正的客观。
        </p>
        <p class="fuc">
            <a href="" class="agree"><i class="i_agree"></i><span>291</span></a>
            <a href="" class="comment"><i class="i_comment
            "></i><span>291</span></a>
        </p>    
    </div>
    <div class="inner">
        <a href="" class="a_title">文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题</a>
        <a href=""><img class="pic" src="img/a_9.jpg"></a>
        <p class="desc">
        伪上帝视角的假客观评测，远不如真自我体验的主观分享来的精彩。因为这个世界很难有真正的客观。
        </p>
        <p class="fuc">
            <a href="" class="agree"><i class="i_agree2"></i><span>291</span></a>
            <a href="" class="comment"><i class="i_comment2
            "></i><span>291</span></a>
        </p>    
    </div>

    <div class="inner">
        <a href="" class="a_title">文章标题文章标题文章标题文章标题文章标题文章标题文章标题文章标题</a>
        <a href=""><img class="pic" src="img/a_9.jpg"></a>
        <p class="desc">
        伪上帝视角的假客观评测，远不如真自我体验的主观分享来的精彩。因为这个世界很难有真正的客观。伪上帝视角的假客观评测，远不如真自我体验的主观分享来的精彩。因为这个世界很难有真正的客观。
        </p>
        <p class="fuc">
            <a href="" class="agree"><i class="i_agree2"></i><span>291</span></a>
            <a href="" class="comment"><i class="i_comment2
            "></i><span>291</span></a>
        </p>    
    </div>
</div>
</body>
<html>